<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>出差管理</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/Choose.js}" ></script>
<script th:src="@{/js/MyJs.js}" ></script>
<script th:src="@{/js/WebCalendar.js}" ></script>

<script type="text/javascript">
    function addfrom() {
        var num = Math.random();
        window.open("/page/a_on_business_add", "_blank", "height=660, width=880,toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=no, status=no,top=0,left=40")
    }

    function showfrom(str) {
        var num = Math.random();
        window.open("Kqjl_R_Show.aspx?tmp=" + num + "&id=" + str + "", "_blank", "height=660, width=880,toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=no, status=no,top=0,left=40")
    }

    function updatefrom(str) {
        var num = Math.random();
        window.open("Kqjl_R_Mod.aspx?tmp=" + num + "&id=" + str + "", "_blank", "height=660, width=880,toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=no, status=no,top=0,left=40")
    }
    
    
    function delRecords(){
    	delcheck();
    	//获取复选框数组
    	var ci=$("input:checked");
		//遍历复选框数组;取出被选中的记录的员工工号
		
		var paramstr = "";
		for(var i = 0;i < ci.length;i++){
			paramstr += ci[i].getAttribute("value") +",";
		};

	    function func(str){
			$.ajax({
		        type:'get',
		        url:'/attendence/delOnBusiness/'+str,
		        async:false,        
		        success:function(res){
		        		if(res.status == 200){
			        		alert("操作成功!");
		        		}
		        		else{
		        			alert("操作失败!");
		        		}
		        		window.location.reload();
		        		//这里使用reload()而不是refresh()
	        		}
		   });
		};
		
		func(paramstr);
    }
</script>
<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
</head>
<body class="main" marginwidth="0" marginheight="0">
    <form method="post" action="Kqjl_R.aspx" id="form1">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            	<tr>
                	<td>
                    <table id="aTable" cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="form">
                        <tbody id="aTableBody"><tr>
                            <td align="right">员工工号：
                            </td>
                            <td>
                                <input name="enumber" type="text" id="enumber" class="mytext">
                            </td>
                            <td align="right">员工姓名：
                            </td>
                            <td>
                                <input name="ename" type="text" id="ename" class="mytext">
                            </td>
                            <td align="right">出差类型：
                            </td>
                            <td>
                                <select name="type" id="type" style="width:150px;">
									<option selected="selected" value=""></option>
									<option value="出差中">出差</option>
									<option value="已结束">已结束</option>
									<option value="待开始">待开始</option>
								</select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">出差日期：
                            </td>
                            <td colspan="5">
                                <input name="StartTime" type="text" id="StartTime" class="mytext" onclick="SelectDate(this,&#39;yyyy-MM-dd&#39;)" readonly="readonly" style="width:75px;" />至<input name="EndTime" type="text" id="EndTime" class="mytext" onclick="SelectDate(this,&#39;yyyy-MM-dd&#39;)" readonly="readonly" style="width:75px;" />
                                <input type="submit" name="QueryBtn" value="查询" id="QueryBtn" class="mybtn" />
                                <input name="AddBtn" type="button" id="AddBtn" value="增加" class="mybtn" onclick="javascript: addfrom();" />
                                <input type="button" name="DelBtn" value="删除" onclick="delRecords();" id="DelBtn" class="mybtn" />
                                <a href="javascript:void(0)" onclick="chkAllw()" class="gvlink">全选</a>
                                <a href="javascript:void(0)" onclick="revchkAll()" class="gvlink">反选</a>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                        <tr>
                            <td colspan="2">
                                <div>
									<table class="hkgv" cellspacing="0" rules="all" border="1" id="GridView1" style="width:100%;border-collapse:collapse;">
										<tr class="hkHeadStyle">
											<th scope="col" style="width:30px;">
											<img src="/pic/refresh.gif" alt="序号" /></th>
											<th align="center" scope="col" style="white-space:nowrap;">选择</th>
											<th scope="col">工号</th><th scope="col">员工姓名</th>
											<th scope="col" style="width:80px;">申请日期</th>
											<th scope="col" style="width:80px;">出差类型</th>
											<th scope="col" style="width:120px;">出差开始时间</th><th scope="col" style="width:120px;">出差结束时间</th><th scope="col">出差天数</th><th scope="col" style="width:80px;white-space:nowrap;">操作</th>
										</tr>
									</table>
								</div>
	                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 22px">
							<!-- AspNetPager 7.5 Copyright:2003-2015 Webdiyer (www.webdiyer.com) -->
							<div id="AspNetPager1" class="page_text" showinputbox="Auto" inputboxclass="pagetext">
							<div class="page_text" style="width:250px;float:left;">
								<font color="#333333">共 17 行/每页15行 第1/2页</font>
							</div><div class="page_text" style="float:left;">
								<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">2</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">下页</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">末页</a>
							</div>
							</div>
							<!-- AspNetPager 7.5 Copyright:2003-2015 Webdiyer (www.webdiyer.com) -->
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
</form>


</body>
<script type="text/javascript">
	window.onload=function (){
		$.ajax({
	        type:'get',
	        url:'/attendence/queryOnBusiness',
	        async:false,	        
	        /*data:{
	         email:$("#email").val(),
	         password:$("#password").val()
	         }*/
	        success:function(res){
	        	var data = res.data;
	        	for (var i=1;i<=data.length;i++){
	        		var day = data[i-1].day;
	        		var index = data[i-1].day.indexOf('T');
	        		var begin = data[i-1].begin;
	        		var end = data[i-1].end;
	        		day = day.substring(0,index);
	        		begin = begin.substring(0,index);
	        		end = end.substring(0,index);
	        		// 转换日期格式
	        		d1 = begin.replace(/-/g, '/'); // "2010/08/01";
	        		d2 = end.replace(/-/g, '/'); 
	        		// 创建日期对象
	        		var date1 = new Date(d1);
	        		var date2 = new Date(d2);
	        		// 计算间隔
	        		var time1 = Date.parse(date1);
					var time2 = Date.parse(date2);
					var nDays = Math.abs(parseInt((time2 - time1)/1000/3600/24)) + 1;
	        		var $tr = $("<tr class=\"hkRowStyle\" onclick=\"javascript:changeBg(this)\">"+
	    					"<td align=\"center\"> <span id=\"GridView1_ctl\""+ i +"_lblxh\">"+ i +"</span>"+ "</td>"+
	    					"<td align=\"center\" style=\"width:30px;\"><input value=\""+data[i-1].enumber+"\" id=\"GridView1_ctl\""+ i +"\"_CheckSelect\" type=\"checkbox\" name=\"GridView1$ctl\""+i+"\"$CheckSelect\">"+"</td>"+
	    					"<td>" + data[i-1].enumber + "</td>" +
	    					"<td>" + data[i-1].ename + "</td>" +
	    					"<td align=\"center\">" + day + "</td>" +
	    					"<td align=\"center\">" + data[i-1].type + "</td>" +
	    					"<td align=\"center\">" + begin + "</td>" +
	    					"<td align=\"center\">" + end + "</td>" +
	    					"<td align=\"center\">" + nDays + "</td>" +
	    					"<td align=\"center\" style=\"width:80px;white-space:nowrap;\"> " + 
	    						"<span id=\"GridView1_ctl"+i+"_Label1\">" + "<a href=\"javascript:void(0)\" onclick=\"showfrom(1);\" class=\"gvlink\">查看</a></span>" + 
	    						"<span id=\"GridView1_ctl"+i+"_Label2\"> <a href=\"javascript:void(0)\" onclick=\"updatefrom(1);\" class=\"gvlink\">修改</a></span></td></tr>");
	    					var $table = $(".hkgv tbody");
	    					$table.append($tr);
	        	}
	        }
	   });
	}
</script>
</html>