<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1"><meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><title>
	机构节点信息
</title>
<link href="../../CssJs/Main.css" type="text/css" rel="stylesheet" />
    <script src="../../CssJs/MyJs.js" type="text/javascript" charset="gb2312"></script>
    <script type="text/javascript" src="../../CssJs/WebCalendar.js"></script>
    
</head>
<body class="main">
    <form method="post" action="Jggl_R.aspx?id=6" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTU3OTY3MTAxMA8WAh4TVmFsaWRhdGVSZXF1ZXN0TW9kZQIBFgICAw9kFgpmDw8WAh4EVGV4dAUJ6YeH6LSt6YOoZGQCAQ8PFgIfAQUJ5oC76KOB5YqeZGQCAg8PFgIfAQUCMTBkZAIEDw8WAh8BBTzph4fotK3nu4TkuIDvvIzph4fotK3nu4TkuozvvIzph4fotK3nu4TkuInvvIzph4fotK3nu4Tlm5vvvIxkZAIFDw8WAh8BZWRkZA==" />
</div>

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="form" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="4">
                                <b>
                                    部门信息</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item" style="width: 20%">部门名称：
                            </td>
                            <td colspan="3" style="width: 80%">
                                <span id="Name">采购部</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">上级部门：
                            </td>
                            <td colspan="3">
                                <span id="ParentNodesID">总裁办</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">单位编制数：
                            </td>
                            <td colspan="3">
                                <span id="BianZhiS">10</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">岗位编制数：
                            </td>
                            <td colspan="3">
                                <span id="GangWeiBZ"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">下级部门：
                            </td>
                            <td colspan="3">
                                <span id="XiaJiBm">采购组一，采购组二，采购组三，采购组四，</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">备注：
                            </td>
                            <td colspan="3">
                                <span id="remark"></span>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" name="Button4" value="编制当前部门" id="Button4" class="mybtn" />
                    <input type="submit" name="Button3" value="修改当前部门" id="Button3" class="mybtn" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
