

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1"><meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><title>
	查看员工离职
</title><link href="../../CssJs/Main.css" type="text/css" rel="stylesheet" />
    <script src="../../CssJs/MyJs.js" type="text/javascript" charset="gb2312"></script>
    <script type="text/javascript" src="../../CssJs/WebCalendar.js"></script>
    
</head>
<body class="main">
    <form method="post" action="Yglz_Show.aspx?tmp=0.2175947656806676&amp;id=1" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE5MjI1MjYwMjEPFgIeE1ZhbGlkYXRlUmVxdWVzdE1vZGUCARYCAgMPZBYcZg8PFgIeBFRleHQFBTAwMDAxZGQCAQ8PFgIfAQUG6LKC56aFZGQCAg8PFgIfAQUD5aWzZGQCAw8PFgIfAQUSMTEwMTAxMTk4MDA3MDcyMTIxZGQCBA8PFgIfAQUJ6KGM5pS/5YqeZGQCBQ8PFgIfAQUG57uP55CGZGQCBg8PFgIfAQUG5paH5ZGYZGQCBw8PFgIfAQUIMjAxNy85LzFkZAIIDw8WAh8BBQbovp7pgIBkZAIJDw8WAh8BBQbkuIrmtbdkZAIKDw8WAh8BZWRkAgsPDxYCHwEFGTxwPuS4u+WKqOeUs+ivt+emu+iBjDwvcD5kZAIMDw8WAh8BBX4gPGRpdj7CtzxhIGhyZWY9Li4vLi4vQXR0RG93bi5hc3B4P251bWJlcj0yMDE3OTkxOTUyMjIyNTA1NTcuZG9jJmZuYW1lPWhyL2gwNiB0YXJnZXQ9X2JsYW5rIGNsYXNzPWd2bGluaz5UZXN0QXR0LmRvYzwvYT48L2Rpdj5kZAIPDw8WAh8BBRMyMDE3OTkxOTQ4NDM1NTM5MDg2ZGRk" />
</div>

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="td_base" width="80%" height="25px">查看员工离职
                </td>
                <td class="td_base" width="20%" align="right"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="form" border="0" cellpadding="0" cellspacing="0" width="100%" id="tableprint">
                        <tr>
                            <td align="center" colspan="4">
                                <b>员工信息</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item" style="width: 20%">员工工号：
                            </td>
                            <td style="width: 30%">
                                <span id="StaffNumer">00001</span>
                            </td>
                            <td class="form-item" style="width: 20%">员工姓名：
                            </td>
                            <td style="width: 30%">
                                <span id="XingMing">貂禅</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">性别：
                            </td>
                            <td>
                                <span id="XingBie">女</span>
                            </td>
                            <td class="form-item">员工身份证：
                            </td>
                            <td>
                                <span id="ShenFen">110101198007072121</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">所在部门名称：
                            </td>
                            <td colspan="3">
                                <span id="BuMen">行政办</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">岗位：
                            </td>
                            <td>
                                <span id="GangWei">经理</span>
                            </td>
                            <td class="form-item">职务：
                            </td>
                            <td>
                                <span id="ZhiWu">文员</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center">
                                <strong>离职信息</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">离职时间：
                            </td>
                            <td>
                                <span id="LiZhiSJ">2017/9/1</span>
                            </td>
                            <td class="form-item">离职类型：
                            </td>
                            <td>
                                <span id="LiZhiLX">辞退</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">去向：
                            </td>
                            <td>
                                <span id="QuXiang">上海</span>
                            </td>
                            <td class="form-item">工资截止：
                            </td>
                            <td>
                                <span id="GzJieZhi"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center">
                                <strong>详细信息</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">离职说明：
                            </td>
                            <td colspan="3">
                                <span id="LiZhiSm"><p>主动申请离职</p></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">附件：
                            </td>
                            <td colspan="3">
                                <span id="fujian"> <div>·<a href=../../AttDown.aspx?number=201799195222250557.doc&fname=hr/h06 target=_blank class=gvlink>TestAtt.doc</a></div></span>
                            </td>
                        </tr>
                        <tr> <td align=center colspan=4><div align=center><strong>用户自定义字段</strong></div> </td> </tr> <tr> <td class=form-item>自定义字段：</td><td colspan=3>补充说明</td></tr>
                        <tr>
                            <td align="center" colspan="4" height="25">
                                <input id="Button2" class="mybtn" onclick="window.close()" type="button" value="关闭" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input name="StaffId" type="text" value="1" id="StaffId" style="display: none" />
        <input name="BuMenId" type="text" value="11" id="BuMenId" style="display: none" />
        
    </form>
</body>
</html>
