<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>绩效奖惩类型</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/Choose.js}" ></script>
<script th:src="@{/js/MyJs.js}" ></script>
<script th:src="@{/js/WebCalendar.js}" ></script>
<script type="text/javascript">

function delRecords(){
	delcheck();
	//获取复选框数组
	var ci=$("input:checked");
	//遍历复选框数组;取出被选中的记录的员工工号
	
	var paramstr = "";
	for(var i = 0;i < ci.length;i++){
		paramstr += ci[i].getAttribute("value") +",";
	};

    function func(str){
		$.ajax({
	        type:'get',
	        url:'/performance/delType/'+str,
	        async:false,        
	        success:function(res){
	        		if(res.status == 200){
		        		alert("操作成功!");
	        		}
	        		else{
	        			alert("操作失败!");
	        		}
	        		window.location.reload();
	        		//这里使用reload()而不是refresh()
        		}
	   });
	};
	
	func(paramstr);
}
</script>
</head>
<body class="main">
    <form method="post" action="/page/p_reward_punishment_type_add" id="form1">

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="height: 30px" align="right">
                    <a href="javascript:void(0)" onclick="chkAllw()" class="gvlink">全选</a>
                    <a href="javascript:void(0)" onclick="revchkAll()" class="gvlink">反选</a>
                    <input type="submit" name="AddBtn" value="增加" id="AddBtn" class="mybtn" />
                    <input type="submit" name="modBtn" value="修改" onclick="javascript:return modcheck();" id="modBtn" class="mybtn" />
                    <input type="button" name="DelBtn" value="删除" onclick="delRecords();" id="DelBtn" class="mybtn" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div>
	<table class="hkgv" cellspacing="0" rules="all" border="1" id="GridView1" style="width:99%;border-collapse:collapse;">
		<tr class="hkHeadStyle">
			<th scope="col" style="width:30px;"><img src="/pic/refresh.gif" alt="序号" /></th>
			<th align="center" scope="col" style="white-space:nowrap;">选择</th>
			<th scope="col">奖惩项目</th>
			<th scope="col">奖惩属性</th>
			<th scope="col">操作</th>
		</tr>
	</table>
</div>
                </td>
            </tr>
        </table>
    </form>
</body>
<script type="text/javascript">
	window.onload=function (){
		$.ajax({
	        type:'get',
	        url:'/performance/queryAllRpType',
	        async:false,	        
	        /*data:{
	         email:$("#email").val(),
	         password:$("#password").val()
	         }*/
	        success:function(res){
	        	var data = res.data;
	        	for (var i=1;i<=data.length;i++){
	        		var $tr = $("<tr class=\"hkRowStyle\" onclick=\"javascript:changeBg(this)\">"+
	    					"<td align=\"center\"> <span id=\"GridView1_ctl\""+ i +"_lblxh\">"+ i +"</span>"+ "</td>"+
	    					"<td align=\"center\" style=\"width:30px;\"><input value=\""+data[i-1].id+"\"  id=\"GridView1_ctl\""+ i +"\"_CheckSelect\" type=\"checkbox\" name=\"GridView1$ctl\""+i+"\"$CheckSelect\">"+"</td>"+
	    					"<td>" + data[i-1].name + "</td>" +
	    					"<td>" + data[i-1].type + "</td>" +
	    					"<td align=\"center\" style=\"width:80px;white-space:nowrap;\"> " + 
	    						"<span id=\"GridView1_ctl"+i+"_Label1\">" + "<a href=\"javascript:void(0)\" onclick=\"showfrom(1);\" class=\"gvlink\">查看</a></span>" + 
	    						"<span id=\"GridView1_ctl"+i+"_Label2\"> <a href=\"javascript:void(0)\" onclick=\"updatefrom(1);\" class=\"gvlink\">修改</a></span></td></tr>");
	    					var $table = $(".hkgv tbody");
	    					$table.append($tr);
	        	}
	        }
	   });
	}
</script>
</html>
