<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
    function chknull() {
        if (document.getElementById('StaffNumer').value == '') {
            alert('工号不能为空');
            form1.StaffNumer.focus();
            return false;
        }
        if (document.getElementById('JcShijian').value == '') {
            alert('奖惩时间不能为空');
            form1.JcXiangMu.focus();
            return false;
        }
        if (document.getElementById('JcXiangMu').value == '') {
            alert('奖惩项目不能为空');
            form1.JcXiangMu.focus();
            return false;
        }
        if (document.getElementById('Jcje').value != '') {
            var objRe = /^(-?\d+)(\.\d+)?$/;
            if (!objRe.test(document.getElementById('Jcje').value)) {
                alert("奖惩金额只能为数值型");
                form1.Jcje.focus();
                return false;
            }
        }
        if (document.getElementById('Jcje').value == '') {
            alert('奖惩金额不能为空');
            form1.Jcje.focus();
            return false;
        }
    }
</script>
<script type="text/javascript">
    function PageCheck() {
        var strUploadFile = document.getElementById('uploadFile').value;
        if (strUploadFile == "") {
            alert("请选择要上传的附件！");
            return false;
        }
        var nameLen = strUploadFile.length;
        var rightName = strUploadFile.substr(nameLen - 4, 4).toLowerCase();
        var sAllowExt = ".doc|.docx|.xls|.xlsx|.ppt|.pptx|.pdf|.rar|.zip|.gif|.jpg|.jpeg";
        var str = document.getElementById('uploadFile').value;
        var rightName = str.substr(str.lastIndexOf('.') + 1, str.length - str.lastIndexOf('.')).toLowerCase();
        if (sAllowExt.indexOf(rightName) == -1) {
            alert('对不起，您只能上传【' + sAllowExt + '】格式的文件\r如果需要上传其他格式的文件，请联系系统管理员！');
            return false;
        }
    }

    function AttDown() {
        if (document.getElementById('fjlb').value == '') {
            alert('请先选中附件！');
            return false;
        }
        else {
            var num = Math.random();
            var littleproduct = document.getElementById("fjlb");
            var cindex = littleproduct.selectedIndex;
            var cText = littleproduct.options[cindex].text;
            var cValue = littleproduct.options[cindex].value;
            window.open("../../AttDown.aspx?tmp=" + num + "&number=" + cValue + "&fname=hr/h08", "_blank", "height=1, width=1,toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no")
        }
    }

    function AttDel() {
        if (document.getElementById('fjlb').value == '') {
            alert('请先选中附件！');
            return false;
        }
        else {
            if (!confirm("您确定要删除此附件吗？"))
                return false;
            var num = Math.random();
            var littleproduct = document.getElementById("fjlb");
            var cindex = littleproduct.selectedIndex;
            var cText = littleproduct.options[cindex].text;
            var cValue = littleproduct.options[cindex].value;
            window.open("../../AttDel.aspx?tmp=" + num + "&number=" + cValue + " ", "window", "height=1, width=1,top=150,left=150,toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no");
        }
    }
</script>
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>考勤记录</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/Choose.js}" ></script>
<script th:src="@{/js/MyJs.js}" ></script>
<script th:src="@{/js/WebCalendar.js}" ></script>
</head>
<body class="main">
    <form method="post" action="Jcgl_Add.aspx?tmp=0.5740470349542552" id="form1" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTExMjk3NjM3MzUPFgIeE1ZhbGlkYXRlUmVxdWVzdE1vZGUCARYCAgEPFgIeB2VuY3R5cGUFE211bHRpcGFydC9mb3JtLWRhdGEWHGYPD2QWAh4IcmVhZG9ubHkFCHJlYWRvbmx5ZAIBDw9kFgIfAgUIcmVhZG9ubHlkAgIPD2QWAh8CBQhyZWFkb25seWQCAw8PZBYCHwIFCHJlYWRvbmx5ZAIEDw9kFgIfAgUIcmVhZG9ubHlkAgUPD2QWAh8CBQhyZWFkb25seWQCBg8PZBYCHwIFCHJlYWRvbmx5ZAIIDw9kFgIfAgUIcmVhZG9ubHlkAgkPD2QWAh8CBQhyZWFkb25seWQCDA8QZBAVABUAFCsDAGRkAg0PD2QWAh4Hb25jbGljawUbamF2YXNjcmlwdDpyZXR1cm4gQXR0RGVsKCk7ZAIPDw9kFgIfAwUeamF2YXNjcmlwdDpyZXR1cm4gUGFnZUNoZWNrKCk7ZAIQDw9kFgIfAwUcamF2YXNjcmlwdDpyZXR1cm4gY2hrbnVsbCgpO2QCEw8PFgIeBFRleHQFEzIwMTk0MTYyMTU5MTMwNDEzNzhkZGQ=" />
</div>

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="td_base" width="80%" height="25px">新增奖惩管理
                </td>
                <td class="td_base" width="20%"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="form">
                        <tr>
                            <td align="center" colspan="4">
                                <b>员工信息</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item" style="width: 20%"><font color="red">*</font>员工工号：
                            </td>
                            <td style="width: 30%">
                                <input name="StaffNumer" type="text" id="StaffNumer" class="mytext" readonly="readonly" style="width:80%;" /><a
                                    href="javascript:void(0)"><img onclick="openunit();" alt="" src="../../images/choose.gif"
                                        border="0"></a>
                            </td>
                            <td class="form-item" style="width: 20%">员工姓名：
                            </td>
                            <td style="width: 30%">
                                <input name="XingMing" type="text" id="XingMing" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">性别：
                            </td>
                            <td>
                                <input name="XingBie" type="text" id="XingBie" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                            <td class="form-item">员工身份证：
                            </td>
                            <td>
                                <input name="ShenFen" type="text" id="ShenFen" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">所在部门名称：
                            </td>
                            <td colspan="3">
                                <input name="BuMen" type="text" id="BuMen" class="mytext" readonly="readonly" style="width:96%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">岗位：
                            </td>
                            <td>
                                <input name="GangWei" type="text" id="GangWei" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                            <td class="form-item">职务：
                            </td>
                            <td>
                                <input name="ZhiWu" type="text" id="ZhiWu" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center">
                                <strong>奖惩信息</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item"><font color="red">*</font>奖惩时间：
                            </td>
                            <td>
                                <input name="JcShijian" type="text" id="JcShijian" class="mytext" onclick="SelectDate(this,&#39;yyyy-MM-dd&#39;)" style="width:90%;" />
                            </td>
                            <td class="form-item"><font color="red">*</font>奖惩项目：
                            </td>
                            <td>
                                <input name="JcXiangMu" type="text" id="JcXiangMu" class="mytext" readonly="readonly" style="width:80%;" /><a
                                    href="javascript:void(0)"><img onclick="openunit1();" alt="" src="../../images/choose.gif"
                                        border="0"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">奖惩属性：
                            </td>
                            <td>
                                <input name="JcShuxing" type="text" id="JcShuxing" class="mytext" readonly="readonly" style="width:90%;" />
                            </td>
                            <td class="form-item"><font color="red">*</font>奖惩金额：
                            </td>
                            <td>
                                <input name="Jcje" type="text" id="Jcje" class="mytext" style="width:90%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">奖惩内容：
                            </td>
                            <td colspan="3">
                                <textarea name="JcNeirong" rows="2" cols="20" id="JcNeirong" class="mytextarea" style="height:78px;width:96%;">
</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">附件：
                            </td>
                            <td colspan="3">
                                <select name="fjlb" id="fjlb" style="width:70%;">

</select>
                                &nbsp;
                                        <input id="Button5" type="button" value="下载" onclick="AttDown();" class="mybtn" />
                                <input type="submit" name="Button3" value="删除" onclick="javascript:return AttDel();" id="Button3" class="mybtn" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form-item">上传附件：
                            </td>
                            <td colspan="3">
                                <input name="uploadFile" type="file" id="uploadFile" style="width: 80%" />
                                <input type="submit" name="Button4" value="上传" onclick="javascript:return PageCheck();" id="Button4" class="mybtn" />
                            </td>
                        </tr>
                        <tr> <td align=center colspan=4><div align=center><strong>用户自定义字段</strong></div> </td> </tr> <tr> <td class=form-item>自定义字段：</td><td colspan=3><TEXTAREA rows=1 id=2017911538556608379 name=2017911538556608379 cols=80></TEXTAREA></td></tr>
                        <tr>
                            <td align="center" colspan="4" height="25">
                                <input type="submit" name="Button1" value="确定" onclick="javascript:return chknull();" id="Button1" class="mybtn" />
                                <input id="Button2" class="mybtn" onclick="window.close()" type="button" value="关闭" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input name="StaffId" type="text" id="StaffId" style="display: none" />
        <input name="BuMenId" type="text" id="BuMenId" style="display: none" />
        
        <script type="text/javascript">
            var wName;
            function openunit() {
                var num = Math.random();
                var str = "" + document.getElementById('StaffId').value + "|" + document.getElementById('StaffNumer').value + "|" + document.getElementById('XingMing').value + "|" + document.getElementById('XingBie').value + "|" + document.getElementById('ShenFen').value + "|" + document.getElementById('BuMenId').value + "|" + document.getElementById('BuMen').value + "|" + document.getElementById('GangWei').value + "|" + document.getElementById('ZhiWu').value + "";

                //browser
                var bstr = getBrowserType();
                if (bstr == '3' | bstr == '4' | bstr == '5') {
                    window.open("../../Choose/hr/Xzyg_Ht.aspx?tmp=" + num + "&requeststr=" + str + "&id=" + str + "", 'window', 'height=600,width=650,top=150,left=300,toolbar=no,menubar=no,scrollbars=yes, resizable=yes,location=no, status=no');
                }
                else {
                    wName = window.showModalDialog("../../choose/hr/Xzyg_Ht.aspx?tmp=" + num + "&requeststr=" + str + "&id=" + str + "", "window", "dialogWidth:650px;DialogHeight=600px;status:no;scroll=yes;help:no");
                }

                var arr = wName.split("|");
                for (var i = 0; i < arr.length; i++) {
                    document.getElementById("StaffId").value = arr[0];
                    document.getElementById("StaffNumer").value = arr[1];
                    document.getElementById("XingMing").value = arr[2];
                    document.getElementById("XingBie").value = arr[3];
                    document.getElementById("ShenFen").value = arr[4];
                    document.getElementById("BuMenId").value = arr[5];
                    document.getElementById("BuMen").value = arr[6];
                    document.getElementById("GangWei").value = arr[7];
                    document.getElementById("ZhiWu").value = arr[8];
                }
            }

            function setValue(str) {
                var arr = str.split("|");
                for (var i = 0; i < arr.length; i++) {
                    document.getElementById("StaffId").value = arr[0];
                    document.getElementById("StaffNumer").value = arr[1];
                    document.getElementById("XingMing").value = arr[2];
                    document.getElementById("XingBie").value = arr[3];
                    document.getElementById("ShenFen").value = arr[4];
                    document.getElementById("BuMenId").value = arr[5];
                    document.getElementById("BuMen").value = arr[6];
                    document.getElementById("GangWei").value = arr[7];
                    document.getElementById("ZhiWu").value = arr[8];
                }
            }
        </script>
        <script type="text/javascript">
            var wName2;
            function openunit1() {
                var num = Math.random();
                var str = "" + document.getElementById('JcXiangMu').value + "|" + document.getElementById('JcShuxing').value + "";

                //browser
                var bstr = getBrowserType();
                if (bstr == '3' | bstr == '4' | bstr == '5') {
                    window.open("../../Choose/hr/Xzjcyg.aspx?tmp=" + num + "&requeststr=" + str + "&id=" + str + "", 'window', 'height=600,width=650,top=150,left=300,toolbar=no,menubar=no,scrollbars=yes, resizable=yes,location=no, status=no');
                }
                else {
                    wName2 = window.showModalDialog("../../choose/hr/Xzjcyg.aspx?tmp=" + num + "&requeststr=" + str + "&id=" + str + "", "window", "dialogWidth:650px;DialogHeight=600px;status:no;scroll=yes;help:no");
                }

                var arr = wName2.split("|");
                for (var i = 0; i < arr.length; i++) {
                    document.getElementById("JcXiangMu").value = arr[0];
                    document.getElementById("JcShuxing").value = arr[1];
                }
            }

            function setValue_ygjc(str) {
                var arr = str.split("|");
                for (var i = 0; i < arr.length; i++) {
                    document.getElementById("JcXiangMu").value = arr[0];
                    document.getElementById("JcShuxing").value = arr[1];
                }
            }
        </script>
    </form>
</body>
</html>
