<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>
	人员需求征集
</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/Choose.js}" ></script>
<script th:src="@{/js/MyJs.js}" ></script>
<script th:src="@{/js/WebCalendar.js}" ></script>
</head>
<body class="main">
<form method="post" action="/recruitment/queryPlans" id="form1">
		<div class="aspNetHidden">
		<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTM5MzIxODMyNA8WAh4TVmFsaWRhdGVSZXF1ZXN0TW9kZQIBFgICAw9kFgYCDQ8PZBYCHgdvbmNsaWNrBR1qYXZhc2NyaXB0OnJldHVybiBkZWxjaGVjaygpO2QCDw88KwARAwAPFgQeC18hRGF0YUJvdW5kZx4LXyFJdGVtQ291bnQCAWQBEBYAFgAWAAwUKwAAFgJmD2QWBAIBDw9kFgIfAQUZamF2YXNjcmlwdDpjaGFuZ2VCZyh0aGlzKRYOZg9kFgICAQ8PFgIeBFRleHQFATFkZAIBD2QWBAIDDw8WAh8EBQE4ZGQCBQ8PFgIfBAUl6JCl6L+Q6YOo55Sz6K+35oub6IGYM+WQjeS8geWIkuS6uuWRmGRkAgIPDxYCHwQFJeiQpei/kOmDqOeUs+ivt+aLm+iBmDPlkI3kvIHliJLkurrlkZhkZAIDDw8WAh8EBQnokKXov5Dpg6hkZAIEDw8WAh8EBQzmraPluLjnu5PmnZ9kZAIFD2QWAmYPFQMPMjAxNzkxMTIzNDE2Nzk4DOato+W4uOe7k+adnwzmraPluLjnu5PmnZ9kAgYPZBYCZg8VBw8yMDE3OTExMjM0MTY3OTgM5q2j5bi457uT5p2fATgCMTMPMjAxNzkxMTIzNDE2Nzk4ATEBOGQCAg8PFgIeB1Zpc2libGVoZGQCEQ8PFgQeCFBhZ2VTaXplAg8eC1JlY29yZGNvdW50AgFkZBgCBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAQUbR3JpZFZpZXcxJGN0bDAyJENoZWNrU2VsZWN0BQlHcmlkVmlldzEPPCsADAEIAgFk" />
		</div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>
                <td>
                     <table cellspacing="0" cellpadding="0" width="98%" align="center" border="0" class="form">
                        <tr>
                            <td align="right">征集主题：
                            </td>
                            <td>
                                <input name="tbjsTitle" type="text" id="tbjsTitle" class="mytext" />
                            </td>
                            <td align="right">招聘部门：
                            </td>
                            <td>
                                <input name="tbjsZpBmName" type="text" id="tbjsZpBmName" class="mytext" />
                            </td>
                            <td align="right">员工职务：
                            </td>
                            <td>
                                <input name="tbjsYgzw" type="text" id="tbjsYgzw" class="mytext" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">招聘方式：
                            </td>
                            <td colspan="5">
                                <input name="tbjsZpfs" type="text" id="tbjsZpfs" class="mytext" />
                                <input type="submit" name="QueryBtn" value="查询" id="QueryBtn" class="mybtn" />
                                <input type="submit" name="AddBtn" value="增加" id="AddBtn" class="mybtn" />
                                <input type="submit" name="DelBtn" value="删除" onclick="javascript:return delcheck();" id="DelBtn" class="mybtn" />
                                <a href="javascript:void(0)" onclick="chkAllw()" class="gvlink">全选</a>
                                <a href="javascript:void(0)" onclick="revchkAll()" class="gvlink">反选</a>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" width="98%" align="center" border="0">
                        <tr>
                            <td colspan="2">
                                <div>
									<table class="hkgv" cellspacing="0" rules="all" border="1" id="GridView1" style="width:100%;border-collapse:collapse;">
										<tr class="hkHeadStyle">
											<th scope="col" style="width:30px;"><img src="/pic/refresh.gif" alt="序号" /></th>
											<th align="center" scope="col" style="white-space:nowrap;">选择</th>
											<th scope="col">申请主题</th>
											<th scope="col">招聘部门</th>
											<th scope="col">状态</th>
											<th scope="col" style="width:120px;white-space:nowrap;">相关操作</th>
										</tr>
										<tr class="hkRowStyle" onclick="javascript:changeBg(this)">
											<td align="center">
                                                <span id="GridView1_ctl02_lblxh">1</span>
                                            </td>
                                            <td align="center" style="width:30px;">
                                                <input id="GridView1_ctl02_CheckSelect" type="checkbox" name="GridView1$ctl02$CheckSelect" />
                                            </td>
                                            <td>营运部申请招聘3名企划人员</td>
                                            <td>营运部</td>
                                            <td align="center" style="white-space:nowrap;">正常结束</td>
                                            <td align="center" style="width:120px;white-space:nowrap;">
                                                <a href='/page/r_needs_detail/view' class="gvlink">审批</a> 
                                                <a href='javascript:void(0)' onclick='window.open ("Ryxqzj_Prn.aspx?id=8", "_blank", "height=600, width=600,toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=no, status=no,top=0,left=0")' class="gvlink">打印</a>
                                            </td>
										</tr>
									</table>
								</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 22px">
								<!-- AspNetPager 7.5 Copyright:2003-2015 Webdiyer (www.webdiyer.com) -->
								<!--记录总数只有一页，AspNetPager已自动隐藏，若需在只有一页数据时显示AspNetPager，请将AlwaysShow属性值设为true！-->
								<!-- AspNetPager 7.5 Copyright:2003-2015 Webdiyer (www.webdiyer.com) -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
