<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>考勤记录</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/Choose.js}" ></script>
<script th:src="@{/js/MyJs.js}" ></script>
<script th:src="@{/js/WebCalendar.js}" ></script>
<script type="text/javascript">

function delRecords(){
	delcheck();
	//获取复选框数组
	var ci=$("input:checked");
	//遍历复选框数组;取出被选中的记录的员工工号
	
	var paramstr = "";
	for(var i = 0;i < ci.length;i++){
		paramstr += ci[i].getAttribute("value") +",";
	};

    function func(str){
		$.ajax({
	        type:'get',
	        url:'/recruitment/delPool/'+str,
	        async:false,        
	        success:function(res){
	        		if(res.status == 200){
		        		alert("操作成功!");
	        		}
	        		else{
	        			alert("操作失败!");
	        		}
	        		window.location.reload();
	        		//这里使用reload()而不是refresh()
        		}
		   });
		};
		
		func(paramstr);
	}
</script>
<body class="main">
    <form method="post" action="yh.aspx" id="form1">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="98%" align="center" border="0">
                    	<tr>
                    		<td><span>用户名:</span>
                                <input name="enumber" type="text" id="enumber" class="mytext" style="width:100px;" />
                            </td>
                            <td align="right">
                                <input type="submit" name="QueryBtn" value="查 询" id="QueryBtn" class="mybtn" />
                                <input name="AddBtn" type="button" id="AddBtn" value="增 加" class="mybtn" onclick="javascript:popView(&#39;/page/sys_user_add&#39;);" />
                                <input type="submit" name="ExpBtn" value="导 出" id="ExpBtn" class="mybtn" />
                                <input type="button" name="DelBtn" value="删除" onclick="delRecords();" id="DelBtn" class="mybtn" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div>
									<table class="hkgv" cellspacing="0" rules="all" border="1" id="GridView1" style="width:100%;border-collapse:collapse;">
										<tr class="hkHeadStyle">
											<th scope="col" style="width:30px;">
											<img src="/pic/refresh.gif" alt="序号" /></th>
											<th scope="col">用户名</th>
											<th scope="col">密码</th>
											<th scope="col" >权限</th>
											<th scope="col" style="width:60px;">创建日期</th>
											<th scope="col" style="width:170px;">附加操作</th>
										</tr>
										</table>
									</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    
<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
</form>
</body>
<script type="text/javascript">
	window.onload=function (){
		$.ajax({
	        type:'get',
	        url:'/system/queryAllUser',
	        async:false,	        
	        success:function(res){
	        	var data = res.data;
	        	for (var i=1;i<=data.length;i++){
	        		var day = data[i-1].day;
	        		var index = data[i-1].day.indexOf('T');
	        		day = day.substring(0,index);
	        		var $tr = $("<tr>"+
	    					"<td align=\"center\" style=\"width:30px;\"><input  value=\""+data[i-1].id+"\"  id=\"GridView1_ctl\""+ i +"\"_CheckSelect\" type=\"checkbox\" name=\"GridView1$ctl\""+i+"\"$CheckSelect\">"+"</td>"+
	    					"<td>" + data[i-1].enumber + "</td>" +
	    					"<td>" + data[i-1].password + "</td>" +
	    					"<td align=\"center\">" + data[i-1].competence + "</td>" +
	    					"<td align=\"center\">" + day + "</td>" +
	    					"<td align=\"center\" style=\"width:80px;white-space:nowrap;\"> " + 
	    						"<span id=\"GridView1_ctl"+i+"_Label1\">" + "<a href=\"javascript:void(0)\" onclick=\"showfrom(1);\" class=\"gvlink\">查看</a></span>" + 
	    						"<span id=\"GridView1_ctl"+i+"_Label2\"> <a href=\"javascript:void(0)\" onclick=\"updatefrom(1);\" class=\"gvlink\">修改</a></span></td></tr>");
	    					var $table = $(".hkgv tbody");
	    					$table.append($tr);
	        	}
	        }
	   });
	}
</script>
</html>
