<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehr.mapper.EhrPoolMapper" >
  <resultMap id="BaseResultMap" type="com.ehr.pojo.EhrPool" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="identityNumber" property="identitynumber" jdbcType="VARCHAR" />
    <result column="educationBg" property="educationbg" jdbcType="CHAR" />
    <result column="graduatedSchool" property="graduatedschool" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="graduationDate" property="graduationdate" jdbcType="DATE" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="getway" property="getway" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, identityNumber, educationBg, graduatedSchool, major, graduationDate, email, 
    telphone, filepath, score, department, post, getway
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ehr.pojo.EhrPoolExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ehr_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ehr_pool
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ehr_pool
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ehr.pojo.EhrPoolExample" >
    delete from ehr_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ehr.pojo.EhrPool" >
    insert into ehr_pool (id, name, identityNumber, 
      educationBg, graduatedSchool, major, 
      graduationDate, email, telphone, 
      filepath, score, department, 
      post, getway)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{identitynumber,jdbcType=VARCHAR}, 
      #{educationbg,jdbcType=CHAR}, #{graduatedschool,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{graduationdate,jdbcType=DATE}, #{email,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{filepath,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{department,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{getway,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ehr.pojo.EhrPool" >
    insert into ehr_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="identitynumber != null" >
        identityNumber,
      </if>
      <if test="educationbg != null" >
        educationBg,
      </if>
      <if test="graduatedschool != null" >
        graduatedSchool,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="graduationdate != null" >
        graduationDate,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="getway != null" >
        getway,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identitynumber != null" >
        #{identitynumber,jdbcType=VARCHAR},
      </if>
      <if test="educationbg != null" >
        #{educationbg,jdbcType=CHAR},
      </if>
      <if test="graduatedschool != null" >
        #{graduatedschool,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="graduationdate != null" >
        #{graduationdate,jdbcType=DATE},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="getway != null" >
        #{getway,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ehr.pojo.EhrPoolExample" resultType="java.lang.Integer" >
    select count(*) from ehr_pool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ehr_pool
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.identitynumber != null" >
        identityNumber = #{record.identitynumber,jdbcType=VARCHAR},
      </if>
      <if test="record.educationbg != null" >
        educationBg = #{record.educationbg,jdbcType=CHAR},
      </if>
      <if test="record.graduatedschool != null" >
        graduatedSchool = #{record.graduatedschool,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationdate != null" >
        graduationDate = #{record.graduationdate,jdbcType=DATE},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null" >
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.getway != null" >
        getway = #{record.getway,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ehr_pool
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      identityNumber = #{record.identitynumber,jdbcType=VARCHAR},
      educationBg = #{record.educationbg,jdbcType=CHAR},
      graduatedSchool = #{record.graduatedschool,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      graduationDate = #{record.graduationdate,jdbcType=DATE},
      email = #{record.email,jdbcType=VARCHAR},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      department = #{record.department,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      getway = #{record.getway,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ehr.pojo.EhrPool" >
    update ehr_pool
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identitynumber != null" >
        identityNumber = #{identitynumber,jdbcType=VARCHAR},
      </if>
      <if test="educationbg != null" >
        educationBg = #{educationbg,jdbcType=CHAR},
      </if>
      <if test="graduatedschool != null" >
        graduatedSchool = #{graduatedschool,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="graduationdate != null" >
        graduationDate = #{graduationdate,jdbcType=DATE},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="getway != null" >
        getway = #{getway,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ehr.pojo.EhrPool" >
    update ehr_pool
    set name = #{name,jdbcType=VARCHAR},
      identityNumber = #{identitynumber,jdbcType=VARCHAR},
      educationBg = #{educationbg,jdbcType=CHAR},
      graduatedSchool = #{graduatedschool,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      graduationDate = #{graduationdate,jdbcType=DATE},
      email = #{email,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      department = #{department,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      getway = #{getway,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>